.tiket {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
.tiket__list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 48px;
}
.tiket__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border: 2px solid var(--secondary-cl);
  padding: 24px;
  border-radius: 16px;
  min-width: 350px;
  background-color: var(--white-cl);
  color: black;
}
.tiket__item__text {
  text-align: left;
  width: 100%;
}
/* .active{
  background-color: var(--secondary-cl);
  color: #000;
} */
.tiket__dialog__title {
  color: var(--black-cl);
  font-weight: bold;
  padding: 16px 16px 16px 0;
  font-size: 20px;
}
.tiket__dialog__header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.close__dialog {
  cursor: pointer;
}
.tiket__item__tilte {
  font-size: 20px;
  font-weight: bold;
  color: var(--black-cl);
}
.tiket__item__price {
  font-size: 24px;
  font-weight: bold;
  color: var(--black-cl);
}
/* .recaptcha__element{
  visibility: visible;
} */

@media screen and (max-width: 767.98px) {
  .tiket__list {
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }
  .tiket__item {
    min-width: 100%;
    width: 100%;
  }
}
