:root {
  --primary-cl: #0f171e;
  --secondary-cl: #ff9800;
  --tertiary-cl: #000;
  --white-cl: #fff;
  --black-cl: #000;
  --gray-cl: rgb(56% 56% 56%);
  --valid-color: #007a4d;
  --invalid-color: #e34f4f;

  --h1-font: inherit;
  --h1-size: 6rem;
  --h1-weight: 900;
  --h2-font: 'Poppins', sans-serif;
  --h2-size: 48px;
  --h2-weight: 600;
  --h2-line-height: 57.6px;
  --p-font: 'Poppins', sans-serif;
  --p-size: 1rem;
  --p-weight: 400;

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-poppins: 'Poppins', -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 1.5rem 0;
  font-size: var(--p-size);
  font-weight: var(--p-weight);
  line-height: 1.5;
}
body {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-family-poppins);
  color: var(--white-cl);
}
h2 {
  color: var(--white-cl);
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
  margin: 0px 0px 24px;
  text-align: center;
}
