.ticket {
  /* animation: bouncingCard 0.6s ease-out infinite alternate; */
  background-color: white;
  color: var(--black-cl);
  border-radius: 12px;
  transition: 0.3s;
}
.ticket:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}

.ticketShadow {
  /* animation: bouncingShadow 0.6s ease-out infinite alternate; */
  margin-top: 4px;
  width: 95%;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(255 255 255 / 40%);
  filter: blur(12px);
}

.ticketTitle {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 12px 16px 4px;
}

.line {
  width: 90%;
  border: 1px solid #efefef;
  margin: 0 auto;
}

.ticketDetail {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 4px 16px;
}

.ticketSubDetail {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 12px 16px;
  align-items: center;
}

.ticketSubDetail .code {
  margin-right: 24px;
}
.ticketContainer {
  width: 250px;
}
.ticketRip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circleLeft {
  width: 12px;
  height: 24px;
  background-color: var(--black-cl);
  border-radius: 0 12px 12px 0;
}

.ripLine {
  width: 100%;
  border-top: 3px solid var(--black-cl);
  border-top-style: dashed;
}

.circleRight {
  width: 12px;
  height: 24px;
  background-color: var(--black-cl);
  border-radius: 12px 0 0 12px;
}
.tiketContent {
  max-width: 250px;
}
.ticketDetail span {
  font-weight: bold;
}
.tiket__dialog__title {
  color: var(--black-cl);
  font-weight: bold;
  padding: 16px 16px 16px 0;
  font-size: 20px;
}
.tiket__dialog__header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.close__dialog {
  cursor: pointer;
}
@keyframes bouncingCard {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-18px);
  }
}

@keyframes bouncingShadow {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(4px);
  }
}

@media screen and (max-width: 767.98px) {
  .ticketContainer {
    width: 80%;
  }
  .ticket:hover {
    transform: unset;
  }
}
