.artist__list {
  display: grid;
  margin-top: 48px;
  gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.flip__card {
  background-color: transparent;
  aspect-ratio: 3 / 4;
  /* perspective: 1000px; */
}
.flip__card__front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip__card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip__card:hover .flip__card__inner {
  transform: rotateY(180deg);
}

.flip__card__front,
.flip__card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip__card__back {
  background-color: var(--secondary-cl);
  color: white;
  transform: rotateY(180deg);
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}
.artist__name {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--white--cl);
}
.artist__position {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--white--cl);
}
.artist__desc {
  font-size: 16px;
  line-height: 1.5;
  color: var(--white--cl);
}

@media screen and (max-width: 767.98px) {
  .artist__list {
    gap: 16px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .flip__card {
    width: 250px;
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
  }
  .artist__name {
    font-size: 20px;
  }
  .flip__card__back {
    padding: 14px;
  }
  .artist__position {
    font-size: 16px;
  }
  .artist__desc {
    font-size: 14px;
  }
}
